body {
    margin :0;
text-align: center;
}

img {
    border-radius: 20px;
    box-shadow: 8px 8px 15px  rgba(0, 0, 0, 0.3);
}

.navbar {
    background-color: #649d66;
    padding: 5px 200px;
}

.container {
    margin: 5% auto;
    padding: 3% 7%;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    color: #596157;
    margin: auto;
}

p{
    font-family: 'Muli', sans-serif;
    font-size: 1.25rem;
    margin: 30px auto;
}

.big-heading {
    padding : 25% 0;
}


#features {
    background-color: #649d66;
    color: #fff;
    padding: 50px 200px;
}

.feature-title {
    color: #fff;
}

.fi {
    margin-bottom: 1rem;
}

.row{
    margin: 50px 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

#contact {
    background-color: #649d66;
    padding: 50px 0;
}

form {
    width : 25%;
    margin : auto;
}

textarea,
input {
    margin: 40px auto;
  
}
    
footer {
    text-align: center;
}